*{box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header{

background-color: #1f2235;
display: flex;
justify-content: space-between;
align-items: center;
padding: 30px 80px;
}

.navitem a{
text-decoration: none;
color: #fff;
margin: 0 20px;
font-size: 18px;
}

#navbar > ul{
list-style: none;
display: flex;
padding: 0;



}

#brand img{

    width: 100px;
}

.navitem a:hover{
    cursor: pointer;
    color: red;
}